<html>
<head>
	<title>Carrito</title>
</head>
<body>
	<h1>Carrito</h1>

	<form method="post" action="/navegar_productos">{% csrf_token %}
		<button type="submit" formaction="{% url 'productos' %}">Volver a los productos</button>
	</form>

    <p>
        <label>Productos normales</label>
        <table>
          <tr>
            <th>Nombre.</th>
            <th>Descripcion.</th>
            <th>cantidad.</th>
            <th>Precio unitario.</th>
            <th>Accion.</th>
          </tr>
          {% for i in producto_EA %}
          <tr>
              <td>{{i.nombre}}</td>
              <td>{{i.descripcion}}</td>
              <td>{{i.unidades_disponibles}}</td>
              <td>{{i.precio_unitario}}</td>
              <td><button onclick="obtener_informacion(this, '{{ i.sku }}', '{{ i.nombre }}', '{{ i.unidades_disponibles }}')">-</button></td>          
          </tr>
          {% endfor %}
        </table>
  <br>
  <br>
  <br>
      <label>Productos de peso</label>
        <table>
          <tr>
            <th>Nombre.</th>
            <th>Descripcion.</th>
            <th>cantidad. (kg).</th>
            <th>Precio unitario.</th>
            <th>Accion.</th>
          </tr>
          {% for i in producto_WE %}
          <tr>
              <td>{{i.nombre}}</td>
              <td>{{i.descripcion}}</td>
              <td>{{i.unidades_disponibles}}</td>
              <td>{{i.precio_unitario}}</td>
              <td><button onclick="obtener_informacion(this, '{{ i.sku }}', '{{ i.nombre }}', '{{ i.unidades_disponibles }}')">-</button></td>          
          </tr>
          {% endfor %}
        </table>
  <br>
  <br>
  <br>
        <label>Productos de descuento especial</label>
        <table>
          <tr>
            <th>Nombre.</th>
            <th>Descripcion.</th>
            <th>cantidad.</th>
            <th>Precio unitario.</th>
            <th>Accion.</th>
          </tr>
          {% for i in producto_SP %}
          <tr>
              <td>{{i.nombre}}</td>
              <td>{{i.descripcion}}</td>
              <td>{{i.unidades_disponibles}}</td>
              <td>{{i.precio_unitario}}</td>
              <td><button onclick="obtener_informacion(this, '{{ i.sku }}', '{{ i.nombre }}', '{{ i.unidades_disponibles }}')">-</button></td>          
          </tr>
          {% endfor %}
        </table>
      </p>

</body>
</html>

<style>
    table {
        width: 100%;
        border-collapse: collapse;
      }
      th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }
      th {
        background-color: #4CAF50;
        color: white;
      }
      tr:nth-child(even) {
        background-color: #f2f2f2;
      }
</style>