<html>
<head>
	<title>Formulario de inicio de sesión</title>
</head>
<body>
	<h1>Formulario de inicio de sesión</h1>
	<form action="{% url 'productos' %}" method="post">{% csrf_token %}
		<label for="correo">Correo electrónico:</label>
		<input type="email" id="correo" name="correo" required><br><br>
		
		<label for="clave">Clave:</label>
		<input type="password" id="clave" name="clave" required><br><br>
		
		<input type="submit" value="Iniciar sesión">
	</form>

	<form method="post" action="/navegar_registro">{% csrf_token %}
		<label for="clave">Ir a:</label>
		<button type="submit" formaction="{% url 'registro' %}">Registrarse</button>
	</form>
	
</body>
</html>