<html>
  <head>
    <title>Lista de productos</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  </head>
  <body>
    <h1>Lista de productos</h1>
    <button onclick="miFuncion()">Ver carrito</button>
    <p>
      <label>Productos normales</label>
      <table>
        <tr>
          <th>Código.</th>
          <th>Nombre.</th>
          <th>Descripcion.</th>
          <th>unidades dip.</th>
          <th>Precio unitario.</th>
          <th>Accion.</th>
        </tr>
        {% for i in producto_EA %}
        <tr>
            <td>{{i.sku}}</td>
            <td>{{i.nombre}}</td>
            <td>{{i.descripcion}}</td>
            <td>{{i.unidades_disponibles}}</td>
            <td>{{i.precio_unitario}}</td>
            <td><button onclick="obtener_informacion(this, '{{ i.sku }}', '{{ i.nombre }}', '{{ i.unidades_disponibles }}')">+</button></td>          
        </tr>
        {% endfor %}
      </table>
<br>
<br>
<br>
    <label>Productos de peso</label>
      <table>
        <tr>
          <th>Código.</th>
          <th>Nombre.</th>
          <th>Descripcion.</th>
          <th>unidades dip. (kg).</th>
          <th>Precio unitario.</th>
          <th>Accion.</th>
        </tr>
        {% for i in producto_WE %}
        <tr>
            <td>{{i.sku}}</td>
            <td>{{i.nombre}}</td>
            <td>{{i.descripcion}}</td>
            <td>{{i.unidades_disponibles}}</td>
            <td>{{i.precio_unitario}}</td>
            <td><button onclick="obtener_informacion(this, '{{ i.sku }}', '{{ i.nombre }}', '{{ i.unidades_disponibles }}')">+</button></td>          
        </tr>
        {% endfor %}
      </table>
<br>
<br>
<br>
      <label>Productos de descuento especial</label>
      <table>
        <tr>
          <th>Código.</th>
          <th>Nombre.</th>
          <th>Descripcion.</th>
          <th>unidades dip.</th>
          <th>Precio unitario.</th>
          <th>Accion.</th>
        </tr>
        {% for i in producto_SP %}
        <tr>
            <td>{{i.sku}}</td>
            <td>{{i.nombre}}</td>
            <td>{{i.descripcion}}</td>
            <td>{{i.unidades_disponibles}}</td>
            <td>{{i.precio_unitario}}</td>
            <td><button onclick="obtener_informacion(this, '{{ i.sku }}', '{{ i.nombre }}', '{{ i.unidades_disponibles }}')">+</button></td>          
        </tr>
        {% endfor %}
      </table>
    </p>
  </body>
</html>

<script>
  var productos_carrito=[]
  function obtener_informacion(boton) {
    var fila = boton.parentNode.parentNode;
    var celda = fila.getElementsByTagName("td");
    var codigo = celda[0].innerHTML;
    var nombre = celda[1].innerHTML;
    var unidades_disponibles = parseInt(celda[3].innerHTML);
    
    mensaje = codigo.includes('WE') ? "Ingrese los gramos que desea comprar" : "Ingrese la cantidad que desea comprar"
    var cantidad = parseInt(prompt(mensaje))
  
    if(codigo.includes('WE')){
      condicion = ((cantidad/1000) <= unidades_disponibles) ? true : false
      mensaje_gramos = "gr de "
      mensaje_gramos2 = "gr"
    }else{
      condicion = (cantidad <= unidades_disponibles) ? true : false
      mensaje_gramos = " "
      mensaje_gramos2 = " "
    }
    if(condicion){
      restante = codigo.includes('WE') ? unidades_disponibles - (cantidad/1000) : unidades_disponibles - cantidad
      celda[3].innerHTML = restante;
      celda[3].style.backgroundColor = "red";
      celda[5].style.display = (restante == 0) ? "none" : "";

      if(productos_carrito.some(producto => producto.sku === codigo)){
        for(i = 0; i < productos_carrito.length; i++){
          if(productos_carrito[i].sku == codigo){
            productos_carrito[i].cantidad = productos_carrito[i].cantidad + cantidad
            mensaje = "En el carrito: " + productos_carrito[i].cantidad
          }
        }
      }else{
        productos_carrito.push({"sku": codigo, "cantidad": cantidad})
        mensaje = "En el carrito: " + cantidad + mensaje_gramos2
      }
      alert("Has agregado " + cantidad + mensaje_gramos + "'" + nombre + "'" + " al carrito.\n" + mensaje);
    }else{
      alert("Lo sentimos, no hay suficientes productos");
    }
  }
  function miFuncion(){ 
    var json_data = JSON.stringify(productos_carrito);

    $.ajax({
      type: "POST",
      url: "/agregar_a_carrito/",
      data: {
        'data': json_data,
        'csrfmiddlewaretoken': '{{ csrf_token }}'
      },
      dataType: "json",
      success: function(data) {
        console.log(data);
        window.location.href = data.url;
      }
    });

  }
</script>

<style>
div.columnas {
  -webkit-column-count: 5; /* Número de columnas */
  -moz-column-count: 5;
  column-count: 5;
  -webkit-column-width: 20%; /* Ancho de cada columna */
  -moz-column-width: 50%;
  column-width: 30%;
  -webkit-column-gap: 0px; /* Espacio entre columnas */
  -moz-column-gap: 0px;
  column-gap: 0px;
}

  table {
    width: 100%;
    border-collapse: collapse;
  }
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  th {
    background-color: #4CAF50;
    color: white;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
</style>